from collections import defaultdict
from pyrogram import filters

API_ID: int = Your API ID
API_HASH: str = "Your API HASH"
TOKEN: str = "BOT TOKEN"

sudousers: list = [ID, ID]
sudofilter = filters.user(sudousers)
db_url: str = "sqlite://userlanguages.db"

BANNED_USERS = filters.user()
USERS = defaultdict(list)
MESSAGES = 2
SECONDS = 6
